<a href="https://colab.research.google.com/github/LFCamacho-dev/PandasAndMatplotlib/blob/main/Data_Visualization_with_Pandas_and_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Working with **Pandas** and **Matplotlib**

In [24]:
import pandas as pd

**Creating DataFrame and counting rows and columns**

---

In [25]:
df = pd.read_csv('QueryResults.csv')
df.shape

(1991, 3)

In [26]:
new_df = df.rename(columns={'m':'DATE', 'TagName':'TAG', 'Unnamed: 2':'POSTS'})

In [27]:
new_df

                     DATE         TAG  POSTS
0     2008-07-01 00:00:00          c#      3
1     2008-08-01 00:00:00    assembly      8
2     2008-08-01 00:00:00  javascript    162
3     2008-08-01 00:00:00           c     85
4     2008-08-01 00:00:00      python    124
...                   ...         ...    ...
1986  2020-07-01 00:00:00           r   5694
1987  2020-07-01 00:00:00          go    743
1988  2020-07-01 00:00:00        ruby    775
1989  2020-07-01 00:00:00        perl    182
1990  2020-07-01 00:00:00       swift   3607

[1991 rows x 3 columns]