<a href="https://colab.research.google.com/github/LFCamacho-dev/PandasAndMatplotlib/blob/main/Data_Visualization_with_Pandas_and_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Working with **Pandas** and **Matplotlib**

In [24]:
import pandas as pd

**Creating DataFrame and counting rows and columns**

---

In [35]:
df = pd.read_csv('QueryResults.csv', names=['DATE', 'TAG', 'POSTS'], header=0)
df.shape # How many rows and columns

(1991, 3)

In [ ]:
# df.shape[0] 
df.count()

In [37]:
# new_df = df.rename(columns={'m':'DATE', 'TagName':'TAG', 'Unnamed: 2':'POSTS'})

In [ ]:
df

**Count the number of posts per language**

In [ ]:
df_groups = df.groupby('TAG').sum()
df_groups

**Language with most tags:**

In [ ]:
df_groups['POSTS'].idxmax(), df_groups['POSTS'].max()

In [80]:
df_groups.sort_values('POSTS', ascending=False)

              POSTS
TAG
javascript  2056510
java        1696403
python      1496210
c#          1423530
php         1361988
c++          684210
r            356799
c            336042
swift        273055
ruby         214582
perl          65286
go            47499
delphi        46212
assembly      34852

How many months of posts for each language

In [71]:
df.groupby('TAG').count()

            DATE  POSTS
TAG
assembly     144    144
c            144    144
c#           145    145
c++          144    144
delphi       144    144
go           129    129
java         144    144
javascript   144    144
perl         144    144
php          144    144
python       144    144
r            142    142
ruby         144    144
swift        135    135

Converting dates from *string* to *datetime* type

In [79]:
df['DATE'] = pd.to_datetime(df['DATE'])
df.head()

        DATE         TAG  POSTS
0 2008-07-01          c#      3
1 2008-08-01    assembly      8
2 2008-08-01  javascript    162
3 2008-08-01           c     85
4 2008-08-01      python    124